.recipe_ul {
  padding: 20px 8px 20px;
  list-style-type: none;
}
/* remove underline and style font of recipes link text */
.recipe_li {
  text-decoration: none;
  font-family: Palatino,serif;
  font-size: 20px;
  line-height: 150%;
  color: #000;
}
